<div *ngIf="clients">
    <div class="div">
        <div class="div-2">
            <div class="div-3">
                <div class="div-4">Are you sure you want to delete the client?</div>
                <div class="div-5">
                    <div class="div-6">
                        <div class="column">
                            <div class="div-7">
                                <div class="div-8">
                                    <div class="textbox">Name: {{clients.name}}</div>
                                    <div class="textbox2">Phone: {{clients.phone}}</div>
                                </div>
                                <div class="div-9"><button>Confirm</button></div>
                            </div>
                        </div>
                        <div class="column-2">
                            <div class="div-10">
                                <div class="textbox">E-mail: {{ clients.email }}</div>
                                <div class="textbox2">Address: {{clients.address}}</div>
                                <div class="div-11"><button (click)="onCancel()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>