<body>

<div class="main-container">
    <div class="center-container">
        <div class="chat-info">
            <p>Chatting with: Rodrigo Lopez</p>
        </div>
        <div class="chat-container">
            <div class="chat-messages" id="chat-messages">
            </div>
            <div class="chat-input">
                <textarea id="message-input" placeholder=""></textarea>
                <div class="icons">
                    <span>😀</span>
                    <span>📎</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>