<div class="container-home">
    <div class="content-notification">
        <div class="home">
            <div class="home-titles"><p>Notification</p></div>
            <div class="content-information-home">
                <div class="information-home">
                    <p>Your stock has run out of vehicle parts, call now to refill your stock</p>
                </div>
                <div class="information-home">
                    <p>Your stock has run out of vehicle parts, call now to refill your stock</p>
                </div>
                <div class="information-home">
                    <p>The client Rodrigo has sent you a message</p>
                </div>
            </div>
        </div>

    </div>
    <div class="content-last-news">
        <div class="home">
            <div class="home-titles">
                <p>Last News</p>
            </div>
            <div class="content-information-home">
                <div class="information-home">
                    <p>Welcome to AutoPro Tracker</p>
                </div>
            </div>
        </div>

    </div>
</div>

